/* PC */
@media (min-width: 1024px) {
.btn-meunu{display: none;}
}
/* TABLE */

@media (min-width: 740px) and(max-width: 1024px) {
}

/* MOBILE */
@media (max-width: 740px) {
  .nav > li {
    display: block;
  }
  .btn-search {
    display: none;
  }
  #header .btn-meunu {
    float: right;
    padding: 0 21px;
    line-height: 46px;
  }
}
