* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {

}

#html{
    font-family: Arial, Helvetica, sans-serif;
}
#header {
  height: 46px;
  background-color: #000;
}
.nav >li {
    display: inline-block;
    
}
.nav ul{
    list-style-type: none;

}
.nav li {
  position: relative;
}
.nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 46px;

}

.nav li a {
  text-decoration: none;
  display: block;
  
}
.nav > li:hover > a,
.subnav > li:hover> a {
 background-color: #ccc;
 color: #000;
}

.nav li:hover .subnav{
    display: block;
} 

.subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;

}
.subnav > a{

}

#slider {
    min-height: 500px;
}

#content {
}

#footer {
}
